In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv("bank-full.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [107]:
df_new = df.drop(["marital","education","contact","job","day","month","poutcome"] , axis = 1)
df_new.head()

   age default  balance housing loan  duration  campaign  pdays  previous   y
0   58      no     2143     yes   no       261         1     -1         0  no
1   44      no       29     yes   no       151         1     -1         0  no
2   33      no        2     yes  yes        76         1     -1         0  no
3   47      no     1506     yes   no        92         1     -1         0  no
4   33      no        1      no   no       198         1     -1         0  no

In [108]:
df_new.isnull().sum()

age         0
default     0
balance     0
housing     0
loan        0
duration    0
campaign    0
pdays       0
previous    0
y           0
dtype: int64

In [109]:
df_new.duplicated().sum()

23

In [110]:
data = df_new.drop_duplicates()

In [111]:
data.duplicated().sum()

0

In [112]:
data.shape

(45188, 10)

In [113]:
def outcome(row):
    if row['y'] == "yes" :
        return 1
    else:
        return 0

In [124]:
data.loc['housing'] = data.apply(outcome, axis=1)
data['loan'] = data.apply(outcome, axis=1)
data['default'] = data.apply(outcome, axis=1)
data['y'] = data.apply(outcome, axis=1)
data.head()

,age,default,balance,housing,loan,duration,campaign,pdays,previous,y
0,58.0,0,2143.0,0.0,0,261.0,1.0,-1.0,0.0,0
1,44.0,0,29.0,0.0,0,151.0,1.0,-1.0,0.0,0
2,33.0,0,2.0,0.0,0,76.0,1.0,-1.0,0.0,0
3,47.0,0,1506.0,0.0,0,92.0,1.0,-1.0,0.0,0
4,33.0,0,1.0,0.0,0,198.0,1.0,-1.0,0.0,0

In [125]:
data = data.fillna(0)
y = data["y"].astype(int)
x = data.drop(["y"], axis = 1)

In [126]:
x.head()

    age  default  balance  housing  loan  duration  campaign  pdays  previous
0  58.0        0   2143.0      0.0     0     261.0       1.0   -1.0       0.0
1  44.0        0     29.0      0.0     0     151.0       1.0   -1.0       0.0
2  33.0        0      2.0      0.0     0      76.0       1.0   -1.0       0.0
3  47.0        0   1506.0      0.0     0      92.0       1.0   -1.0       0.0
4  33.0        0      1.0      0.0     0     198.0       1.0   -1.0       0.0

In [127]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int32

In [142]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=2)

In [143]:
clf = DecisionTreeClassifier(random_state=2)

In [144]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2)

In [145]:
y_pred = clf.predict(X_test)

In [146]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [147]:
print("Classification Report:\n", classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     13557

    accuracy                           1.00     13557
   macro avg       1.00      1.00      1.00     13557
weighted avg       1.00      1.00      1.00     13557

In [153]:
from sklearn.tree import export_graphviz
import graphviz

dot_data = export_graphviz(clf, out_file=None, feature_names=x.columns, class_names=["No", "Yes"], filled=True, rounded=True)
graph = graphviz.Source(dot_data)
graph.render("decision_tree")

'decision_tree.pdf'